body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
    padding: 20px;
}
.container {
    text-align: center;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
}
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 5px;
}
h2 {
    font-size: 16px;
    color: #666;
    margin-top: 0;
}
input[type="text"], input[type="password"], button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    background-color: #28a745;
    color: black;
    cursor: pointer;
}
button:hover {
    background-color: #ADD8E6;
}
.error {
    color: red;
    margin-top: 10px;
}
img.logo {
    width: 150px;
    margin-bottom: 20px;
}
.link {
    display: block;
    margin-top: 20px;
    text-align: center;
}
.language-selector {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.language-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 16px;
    padding: 5px 10px;
}
.language-button img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.language-button span {
    display: inline;
}
